*.pyc
.idea/
.DS_Store
*.ipynb
.ipynb_checkpoints/
!data/*.mod
.mod
.hdf5
.pkl
data/corpus.txt
data/pinyin_corpus.txt
data/jieba_cut2.txt
data/jieba_cut_char.txt
data/jieba_cut_word.txt
!modfile/README.md
modfile
~$*